
#footer-container {
    background-color:'yellow';
    background-size: cover;
    height:'30vh';
    margin-top:'400px';
    width: 100%;
    margin-top: 20%;
}
.link-container{
    text-align: right;
}
.text-uppercase{
    margin-right: 70px;
}
.Footer-heading{
    padding-bottom: 40px;
}