/* .container {
    display:"flex";
    flex-direction: "row";
} */
.feature-card {
    width: 100%;
    height: 100px;
    margin-top:'1200px';
    /* background-color: blue; */
}

@media screen and (min-width:768px){
    .feature-card {
        height: 200px;
    }
}

.category {
    margin-top: 450px;
    height: 50px;
    width: 100%;
    background-color:grey;
    color:white;
    text-align: 'center';
}
.main-container{
    background-image: url("C:\Users\HP\Desktop\anurag\crud_operations\src\assets\images\front-wallpaper.jpg");
    background-size: cover;
    height: 100vh;

}


